@model IEnumerable<Model.Form>

@{
    ViewData["Title"] = "Index";
}

<h1>Forms completed</h1>

@if (ViewBag.SuccessfulCreation != null)
{
    <h5>@ViewBag.SuccessfulCreation</h5>
}

@if (ViewBag.SearchQuery != null)
{
    <h5>@ViewBag.SearchQuery</h5>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoodPet)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owned)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GoodPet)
                </td>
                <td>
                    @Html.ActionLink("Details", "Detail", new { id=item.FormId  })
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    @Html.ActionLink("Enter your own form", "Create", "Form")
    @Html.ActionLink("Back To Home", "Index", "Home")
</p>
